In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Sample").getOrCreate()

spark

In [2]:
# Read File 

df = spark.read.csv("User_Data.csv", header=True, inferSchema=True)

df.show()

+--------+------+---+---------------+---------+
| User ID|Gender|Age|EstimatedSalary|Purchased|
+--------+------+---+---------------+---------+
|15624510|  Male| 19|          19000|        0|
|15810944|  Male| 35|          20000|        0|
|15668575|Female| 26|          43000|        0|
|15603246|Female| 27|          57000|        0|
|15804002|  Male| 19|          76000|        0|
|15728773|  Male| 27|          58000|        0|
|15598044|Female| 27|          84000|        0|
|15694829|Female| 32|         150000|        1|
|15600575|  Male| 25|          33000|        0|
|15727311|Female| 35|          65000|        0|
|15570769|Female| 26|          80000|        0|
|15606274|Female| 26|          52000|        0|
|15746139|  Male| 20|          86000|        0|
|15704987|  Male| 32|          18000|        0|
|15628972|  Male| 18|          82000|        0|
|15697686|  Male| 29|          80000|        0|
|15733883|  Male| 47|          25000|        1|
|15617482|  Male| 45|          26000|        1|
|15704583|  Male| 46|          28000|        1|
|15621083|Female| 48|          29000|        1|
+--------+------+---+---------------+---------+
only showing top 20 rows

## Basic Operations

In [3]:
# Info of Df

df.printSchema()

root
 |-- User ID: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- EstimatedSalary: integer (nullable = true)
 |-- Purchased: integer (nullable = true)

In [4]:
type(df)

pyspark.sql.dataframe.DataFrame

In [5]:
df.head(10)

[Row(User ID=15624510, Gender='Male', Age=19, EstimatedSalary=19000, Purchased=0),
 Row(User ID=15810944, Gender='Male', Age=35, EstimatedSalary=20000, Purchased=0),
 Row(User ID=15668575, Gender='Female', Age=26, EstimatedSalary=43000, Purchased=0),
 Row(User ID=15603246, Gender='Female', Age=27, EstimatedSalary=57000, Purchased=0),
 Row(User ID=15804002, Gender='Male', Age=19, EstimatedSalary=76000, Purchased=0),
 Row(User ID=15728773, Gender='Male', Age=27, EstimatedSalary=58000, Purchased=0),
 Row(User ID=15598044, Gender='Female', Age=27, EstimatedSalary=84000, Purchased=0),
 Row(User ID=15694829, Gender='Female', Age=32, EstimatedSalary=150000, Purchased=1),
 Row(User ID=15600575, Gender='Male', Age=25, EstimatedSalary=33000, Purchased=0),
 Row(User ID=15727311, Gender='Female', Age=35, EstimatedSalary=65000, Purchased=0)]

In [6]:
# Select a Column

df.select('User ID').show(5)

+--------+
| User ID|
+--------+
|15624510|
|15810944|
|15668575|
|15603246|
|15804002|
+--------+
only showing top 5 rows

In [7]:
# Select multiple Column

df.select(['User ID', 'Gender']).show(5)

+--------+------+
| User ID|Gender|
+--------+------+
|15624510|  Male|
|15810944|  Male|
|15668575|Female|
|15603246|Female|
|15804002|  Male|
+--------+------+
only showing top 5 rows

In [8]:
df.dtypes

[('User ID', 'int'),
 ('Gender', 'string'),
 ('Age', 'int'),
 ('EstimatedSalary', 'int'),
 ('Purchased', 'int')]

In [9]:
# Describe function

df.describe().show()

+-------+-----------------+------+------------------+----------------+------------------+
|summary|          User ID|Gender|               Age| EstimatedSalary|         Purchased|
+-------+-----------------+------+------------------+----------------+------------------+
|  count|              400|   400|               400|             400|               400|
|   mean|  1.56915397575E7|  null|            37.655|         69742.5|            0.3575|
| stddev|71658.32158119006|  null|10.482876597307927|34096.9602824248|0.4798639635968691|
|    min|         15566689|Female|                18|           15000|                 0|
|    max|         15815236|  Male|                60|          150000|                 1|
+-------+-----------------+------+------------------+----------------+------------------+

In [10]:
# Adding a column in DataFrame

df.withColumn("New Column", df['Age']+10).show(5)

+--------+------+---+---------------+---------+----------+
| User ID|Gender|Age|EstimatedSalary|Purchased|New Column|
+--------+------+---+---------------+---------+----------+
|15624510|  Male| 19|          19000|        0|        29|
|15810944|  Male| 35|          20000|        0|        45|
|15668575|Female| 26|          43000|        0|        36|
|15603246|Female| 27|          57000|        0|        37|
|15804002|  Male| 19|          76000|        0|        29|
+--------+------+---+---------------+---------+----------+
only showing top 5 rows

## Handling Missing Values:

In [11]:
# Drop column from Dataframe

df.drop("User ID").show(5)

+------+---+---------------+---------+
|Gender|Age|EstimatedSalary|Purchased|
+------+---+---------------+---------+
|  Male| 19|          19000|        0|
|  Male| 35|          20000|        0|
|Female| 26|          43000|        0|
|Female| 27|          57000|        0|
|  Male| 19|          76000|        0|
+------+---+---------------+---------+
only showing top 5 rows

In [12]:
# Rename the column

df.withColumnRenamed("Age", "New Age").show(5)

+--------+------+-------+---------------+---------+
| User ID|Gender|New Age|EstimatedSalary|Purchased|
+--------+------+-------+---------------+---------+
|15624510|  Male|     19|          19000|        0|
|15810944|  Male|     35|          20000|        0|
|15668575|Female|     26|          43000|        0|
|15603246|Female|     27|          57000|        0|
|15804002|  Male|     19|          76000|        0|
+--------+------+-------+---------------+---------+
only showing top 5 rows

In [13]:
# Drop rows with null values

df.na.drop().show(5)

+--------+------+---+---------------+---------+
| User ID|Gender|Age|EstimatedSalary|Purchased|
+--------+------+---+---------------+---------+
|15624510|  Male| 19|          19000|        0|
|15810944|  Male| 35|          20000|        0|
|15668575|Female| 26|          43000|        0|
|15603246|Female| 27|          57000|        0|
|15804002|  Male| 19|          76000|        0|
+--------+------+---+---------------+---------+
only showing top 5 rows

In [14]:
# drop rows if it contains null value in any column

df.na.drop(how='any').show(5)

+--------+------+---+---------------+---------+
| User ID|Gender|Age|EstimatedSalary|Purchased|
+--------+------+---+---------------+---------+
|15624510|  Male| 19|          19000|        0|
|15810944|  Male| 35|          20000|        0|
|15668575|Female| 26|          43000|        0|
|15603246|Female| 27|          57000|        0|
|15804002|  Male| 19|          76000|        0|
+--------+------+---+---------------+---------+
only showing top 5 rows

In [15]:
# drop rows if it contains null value in all the columns

df.na.drop(how='all').show(5)

+--------+------+---+---------------+---------+
| User ID|Gender|Age|EstimatedSalary|Purchased|
+--------+------+---+---------------+---------+
|15624510|  Male| 19|          19000|        0|
|15810944|  Male| 35|          20000|        0|
|15668575|Female| 26|          43000|        0|
|15603246|Female| 27|          57000|        0|
|15804002|  Male| 19|          76000|        0|
+--------+------+---+---------------+---------+
only showing top 5 rows

In [16]:
# drop all rows which does not contain atleast 3 non null columns

df.na.drop(thresh=3).show(5)

+--------+------+---+---------------+---------+
| User ID|Gender|Age|EstimatedSalary|Purchased|
+--------+------+---+---------------+---------+
|15624510|  Male| 19|          19000|        0|
|15810944|  Male| 35|          20000|        0|
|15668575|Female| 26|          43000|        0|
|15603246|Female| 27|          57000|        0|
|15804002|  Male| 19|          76000|        0|
+--------+------+---+---------------+---------+
only showing top 5 rows

In [17]:
# drop all rows which have null values in particular columns

df.na.drop(subset="Age").show(5)

+--------+------+---+---------------+---------+
| User ID|Gender|Age|EstimatedSalary|Purchased|
+--------+------+---+---------------+---------+
|15624510|  Male| 19|          19000|        0|
|15810944|  Male| 35|          20000|        0|
|15668575|Female| 26|          43000|        0|
|15603246|Female| 27|          57000|        0|
|15804002|  Male| 19|          76000|        0|
+--------+------+---+---------------+---------+
only showing top 5 rows

In [18]:
# fill null values

df.na.fill("Filled", subset=["Age", "Purchased"]).show(5)

+--------+------+---+---------------+---------+
| User ID|Gender|Age|EstimatedSalary|Purchased|
+--------+------+---+---------------+---------+
|15624510|  Male| 19|          19000|        0|
|15810944|  Male| 35|          20000|        0|
|15668575|Female| 26|          43000|        0|
|15603246|Female| 27|          57000|        0|
|15804002|  Male| 19|          76000|        0|
+--------+------+---+---------------+---------+
only showing top 5 rows

In [19]:
# Impute Null Values

from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ["Age","EstimatedSalary", "Purchased"],
    outputCols = ["{}_imputed".format(a) for a in ["Age","EstimatedSalary", "Purchased"]]
).setStrategy("mean")

imputer.fit(df).transform(df).show(5)

+--------+------+---+---------------+---------+-----------+-----------------------+-----------------+
| User ID|Gender|Age|EstimatedSalary|Purchased|Age_imputed|EstimatedSalary_imputed|Purchased_imputed|
+--------+------+---+---------------+---------+-----------+-----------------------+-----------------+
|15624510|  Male| 19|          19000|        0|         19|                  19000|                0|
|15810944|  Male| 35|          20000|        0|         35|                  20000|                0|
|15668575|Female| 26|          43000|        0|         26|                  43000|                0|
|15603246|Female| 27|          57000|        0|         27|                  57000|                0|
|15804002|  Male| 19|          76000|        0|         19|                  76000|                0|
+--------+------+---+---------------+---------+-----------+-----------------------+-----------------+
only showing top 5 rows

## Filter operations

In [21]:
df.filter("Age < 20").show()

+--------+------+---+---------------+---------+
| User ID|Gender|Age|EstimatedSalary|Purchased|
+--------+------+---+---------------+---------+
|15624510|  Male| 19|          19000|        0|
|15804002|  Male| 19|          76000|        0|
|15628972|  Male| 18|          82000|        0|
|15764195|Female| 18|          44000|        0|
|15746737|  Male| 18|          52000|        0|
|15672091|Female| 19|          21000|        0|
|15741094|  Male| 19|          25000|        0|
|15807909|  Male| 19|          85000|        0|
|15666141|Female| 18|          68000|        0|
|15578738|Female| 18|          86000|        0|
|15662067|Female| 19|          26000|        0|
|15662901|  Male| 19|          70000|        0|
+--------+------+---+---------------+---------+

In [22]:
df.filter("Age < 20").select(["User ID", "Age"]).show()

+--------+---+
| User ID|Age|
+--------+---+
|15624510| 19|
|15804002| 19|
|15628972| 18|
|15764195| 18|
|15746737| 18|
|15672091| 19|
|15741094| 19|
|15807909| 19|
|15666141| 18|
|15578738| 18|
|15662067| 19|
|15662901| 19|
+--------+---+

In [23]:
#alternate way

df.filter(df["Age"]< 20).show()

+--------+------+---+---------------+---------+
| User ID|Gender|Age|EstimatedSalary|Purchased|
+--------+------+---+---------------+---------+
|15624510|  Male| 19|          19000|        0|
|15804002|  Male| 19|          76000|        0|
|15628972|  Male| 18|          82000|        0|
|15764195|Female| 18|          44000|        0|
|15746737|  Male| 18|          52000|        0|
|15672091|Female| 19|          21000|        0|
|15741094|  Male| 19|          25000|        0|
|15807909|  Male| 19|          85000|        0|
|15666141|Female| 18|          68000|        0|
|15578738|Female| 18|          86000|        0|
|15662067|Female| 19|          26000|        0|
|15662901|  Male| 19|          70000|        0|
+--------+------+---+---------------+---------+

In [24]:
# two or more conditions

df.filter((df["Age"] < 20) | (df["Age"] > 40)).show()

+--------+------+---+---------------+---------+
| User ID|Gender|Age|EstimatedSalary|Purchased|
+--------+------+---+---------------+---------+
|15624510|  Male| 19|          19000|        0|
|15804002|  Male| 19|          76000|        0|
|15628972|  Male| 18|          82000|        0|
|15733883|  Male| 47|          25000|        1|
|15617482|  Male| 45|          26000|        1|
|15704583|  Male| 46|          28000|        1|
|15621083|Female| 48|          29000|        1|
|15649487|  Male| 45|          22000|        1|
|15736760|Female| 47|          49000|        1|
|15714658|  Male| 48|          41000|        1|
|15599081|Female| 45|          22000|        1|
|15705113|  Male| 46|          23000|        1|
|15631159|  Male| 47|          20000|        1|
|15792818|  Male| 49|          28000|        1|
|15633531|Female| 47|          30000|        1|
|15764195|Female| 18|          44000|        0|
|15605000|Female| 59|          83000|        0|
|15746737|  Male| 18|          52000|        0|
|15672091|Female| 19|          21000|        0|
|15739160|  Male| 42|          80000|        0|
+--------+------+---+---------------+---------+
only showing top 20 rows

In [27]:
# not operation

df.filter(~(df["Age"] < 20) & ~(df["Age"] > 40)).show()

+--------+------+---+---------------+---------+
| User ID|Gender|Age|EstimatedSalary|Purchased|
+--------+------+---+---------------+---------+
|15810944|  Male| 35|          20000|        0|
|15668575|Female| 26|          43000|        0|
|15603246|Female| 27|          57000|        0|
|15728773|  Male| 27|          58000|        0|
|15598044|Female| 27|          84000|        0|
|15694829|Female| 32|         150000|        1|
|15600575|  Male| 25|          33000|        0|
|15727311|Female| 35|          65000|        0|
|15570769|Female| 26|          80000|        0|
|15606274|Female| 26|          52000|        0|
|15746139|  Male| 20|          86000|        0|
|15704987|  Male| 32|          18000|        0|
|15697686|  Male| 29|          80000|        0|
|15744529|  Male| 29|          43000|        0|
|15669656|  Male| 31|          18000|        0|
|15581198|  Male| 31|          74000|        0|
|15729054|Female| 27|         137000|        1|
|15573452|Female| 21|          16000|        0|
|15776733|Female| 28|          44000|        0|
|15724858|  Male| 27|          90000|        0|
+--------+------+---+---------------+---------+
only showing top 20 rows

## Group By and Aggregate Functions

In [37]:
# group by

df.groupby("Age").max().show()

+---+------------+--------+--------------------+--------------+
|Age|max(User ID)|max(Age)|max(EstimatedSalary)|max(Purchased)|
+---+------------+--------+--------------------+--------------+
| 31|    15814816|      31|              118000|             1|
| 53|    15778830|      53|              143000|             1|
| 34|    15667742|      34|              115000|             1|
| 28|    15807481|      28|              123000|             1|
| 26|    15809823|      26|              118000|             0|
| 27|    15814004|      27|              137000|             1|
| 44|    15810075|      44|              139000|             1|
| 22|    15774179|      22|               81000|             0|
| 47|    15768072|      47|              144000|             1|
| 52|    15794566|      52|              150000|             1|
| 20|    15767871|      20|               86000|             0|
| 40|    15813113|      40|              142000|             1|
| 57|    15814553|      57|              122000|             1|
| 54|    15778368|      54|              108000|             1|
| 48|    15807837|      48|              141000|             1|
| 19|    15807909|      19|               85000|             0|
| 41|    15809347|      41|               87000|             1|
| 43|    15705298|      43|              133000|             1|
| 37|    15793890|      37|              146000|             1|
| 35|    15811177|      35|              147000|             1|
+---+------------+--------+--------------------+--------------+
only showing top 20 rows

In [38]:
# Aggregating particular column

df.groupby("Age").max("EstimatedSalary").show()

+---+--------------------+
|Age|max(EstimatedSalary)|
+---+--------------------+
| 31|              118000|
| 53|              143000|
| 34|              115000|
| 28|              123000|
| 26|              118000|
| 27|              137000|
| 44|              139000|
| 22|               81000|
| 47|              144000|
| 52|              150000|
| 20|               86000|
| 40|              142000|
| 57|              122000|
| 54|              108000|
| 48|              141000|
| 19|               85000|
| 41|               87000|
| 43|              133000|
| 37|              146000|
| 35|              147000|
+---+--------------------+
only showing top 20 rows

In [39]:
# Using multiple columns

df.groupBy("Age", "Purchased").min("EstimatedSalary").show()

+---+---------+--------------------+
|Age|Purchased|min(EstimatedSalary)|
+---+---------+--------------------+
| 30|        0|               15000|
| 58|        1|               23000|
| 48|        1|               29000|
| 42|        0|               53000|
| 41|        0|               30000|
| 29|        0|               28000|
| 36|        1|               99000|
| 59|        0|               42000|
| 23|        0|               20000|
| 41|        1|               87000|
| 26|        0|               15000|
| 39|        0|               42000|
| 28|        1|              123000|
| 31|        1|              118000|
| 59|        1|               29000|
| 46|        0|               22000|
| 44|        1|              139000|
| 60|        1|               34000|
| 54|        1|               26000|
| 49|        0|               65000|
+---+---------+--------------------+
only showing top 20 rows

In [45]:
df.printSchema()

root
 |-- User ID: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- EstimatedSalary: integer (nullable = true)
 |-- Purchased: integer (nullable = true)

In [58]:
# running more agg funcs at a time
from pyspark.sql import functions

df.groupBy("Age").agg(functions.sum("EstimatedSalary").alias("sumed"),
                      functions.mean("EstimatedSalary").alias("avg"),
                      functions.max("EstimatedSalary").alias("max"),
                      functions.min("EstimatedSalary").alias("min")).show(truncate=False)

+---+-------+------------------+------+------+
|Age|sumed  |avg               |max   |min   |
+---+-------+------------------+------+------+
|31 |687000 |62454.545454545456|118000|15000 |
|53 |435000 |87000.0           |143000|34000 |
|34 |410000 |68333.33333333333 |115000|25000 |
|28 |833000 |69416.66666666667 |123000|32000 |
|26 |856000 |53500.0           |118000|15000 |
|27 |879000 |67615.38461538461 |137000|17000 |
|44 |178000 |89000.0           |139000|39000 |
|22 |244000 |48800.0           |81000 |18000 |
|47 |841000 |60071.42857142857 |144000|20000 |
|52 |551000 |91833.33333333333 |150000|21000 |
|20 |432000 |61714.28571428572 |86000 |23000 |
|40 |1083000|72200.0           |142000|47000 |
|57 |315000 |63000.0           |122000|26000 |
|54 |308000 |77000.0           |108000|26000 |
|48 |1124000|80285.71428571429 |141000|29000 |
|19 |322000 |46000.0           |85000 |19000 |
|41 |1017000|63562.5           |87000 |30000 |
|43 |374000 |124666.66666666667|133000|112000|
|37 |1588000|79400.0           |146000|33000 |
|35 |1978000|61812.5           |147000|20000 |
+---+-------+------------------+------+------+
only showing top 20 rows

## ML

In [59]:
df.printSchema()

root
 |-- User ID: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- EstimatedSalary: integer (nullable = true)
 |-- Purchased: integer (nullable = true)

In [60]:
df.columns

['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']

In [62]:
from pyspark.ml.feature import VectorAssembler

featureAssembler = VectorAssembler(inputCols=["Age", "EstimatedSalary"],
                                   outputCol="Independent Features")

output = featureAssembler.transform(df)

output.show()

+--------+------+---+---------------+---------+--------------------+
| User ID|Gender|Age|EstimatedSalary|Purchased|Independent Features|
+--------+------+---+---------------+---------+--------------------+
|15624510|  Male| 19|          19000|        0|      [19.0,19000.0]|
|15810944|  Male| 35|          20000|        0|      [35.0,20000.0]|
|15668575|Female| 26|          43000|        0|      [26.0,43000.0]|
|15603246|Female| 27|          57000|        0|      [27.0,57000.0]|
|15804002|  Male| 19|          76000|        0|      [19.0,76000.0]|
|15728773|  Male| 27|          58000|        0|      [27.0,58000.0]|
|15598044|Female| 27|          84000|        0|      [27.0,84000.0]|
|15694829|Female| 32|         150000|        1|     [32.0,150000.0]|
|15600575|  Male| 25|          33000|        0|      [25.0,33000.0]|
|15727311|Female| 35|          65000|        0|      [35.0,65000.0]|
|15570769|Female| 26|          80000|        0|      [26.0,80000.0]|
|15606274|Female| 26|          52000|        0|      [26.0,52000.0]|
|15746139|  Male| 20|          86000|        0|      [20.0,86000.0]|
|15704987|  Male| 32|          18000|        0|      [32.0,18000.0]|
|15628972|  Male| 18|          82000|        0|      [18.0,82000.0]|
|15697686|  Male| 29|          80000|        0|      [29.0,80000.0]|
|15733883|  Male| 47|          25000|        1|      [47.0,25000.0]|
|15617482|  Male| 45|          26000|        1|      [45.0,26000.0]|
|15704583|  Male| 46|          28000|        1|      [46.0,28000.0]|
|15621083|Female| 48|          29000|        1|      [48.0,29000.0]|
+--------+------+---+---------------+---------+--------------------+
only showing top 20 rows

In [63]:
final_df = output.select("Independent Features", "Purchased")

final_df.show()

+--------------------+---------+
|Independent Features|Purchased|
+--------------------+---------+
|      [19.0,19000.0]|        0|
|      [35.0,20000.0]|        0|
|      [26.0,43000.0]|        0|
|      [27.0,57000.0]|        0|
|      [19.0,76000.0]|        0|
|      [27.0,58000.0]|        0|
|      [27.0,84000.0]|        0|
|     [32.0,150000.0]|        1|
|      [25.0,33000.0]|        0|
|      [35.0,65000.0]|        0|
|      [26.0,80000.0]|        0|
|      [26.0,52000.0]|        0|
|      [20.0,86000.0]|        0|
|      [32.0,18000.0]|        0|
|      [18.0,82000.0]|        0|
|      [29.0,80000.0]|        0|
|      [47.0,25000.0]|        1|
|      [45.0,26000.0]|        1|
|      [46.0,28000.0]|        1|
|      [48.0,29000.0]|        1|
+--------------------+---------+
only showing top 20 rows

In [64]:
from pyspark.ml.classification import LogisticRegression

# train test split
train_data, test_data = final_df.randomSplit([0.75, 0.25])

logistic = LogisticRegression(featuresCol="Independent Features", labelCol="Purchased")
model = logistic.fit(train_data)

In [65]:
model.coefficients

DenseVector([0.2342, 0.0])

In [66]:
model.intercept

-12.645099171904844

In [67]:
results = model.evaluate(test_data)

results.predictions.show()

+--------------------+---------+--------------------+--------------------+----------+
|Independent Features|Purchased|       rawPrediction|         probability|prediction|
+--------------------+---------+--------------------+--------------------+----------+
|      [18.0,82000.0]|        0|[5.48086576932168...|[0.99585155966515...|       0.0|
|      [19.0,21000.0]|        0|[7.43953894522010...|[0.99941278898874...|       0.0|
|      [20.0,23000.0]|        0|[7.13339679414263...|[0.99920263218003...|       0.0|
|      [20.0,49000.0]|        0|[6.19871110364465...|[0.99797207279704...|       0.0|
|      [20.0,74000.0]|        0|[5.2999748627812,...|[0.99503307411693...|       0.0|
|      [20.0,82000.0]|        0|[5.01237926570489...|[0.99338894657173...|       0.0|
|      [21.0,16000.0]|        0|[7.15079968977601...|[0.99921637786080...|       0.0|
|      [22.0,55000.0]|        0|[5.51452790222064...|[0.99598832990030...|       0.0|
|      [22.0,81000.0]|        0|[4.57984221172265...|[0.98984761357238...|       0.0|
|      [24.0,84000.0]|        0|[4.00350735920225...|[0.98207563487507...|       0.0|
|      [25.0,87000.0]|        0|[3.66141575849025...|[0.97494764063916...|       0.0|
|      [26.0,80000.0]|        0|[3.67881865412362...|[0.97536920673767...|       0.0|
|      [26.0,81000.0]|        0|[3.64286920448908...|[0.97449063339136...|       0.0|
|      [27.0,17000.0]|        0|[5.70939072929112...|[0.99669625940655...|       0.0|
|      [27.0,58000.0]|        0|[4.23546329427506...|[0.98573337894251...|       0.0|
|      [27.0,89000.0]|        0|[3.12103035560438...|[0.95775193927304...|       0.0|
|     [27.0,137000.0]|        1|[1.39545677314656...|[0.80146195718048...|       0.0|
|      [28.0,32000.0]|        0|[4.93590573296466...|[0.99286728978565...|       0.0|
|      [28.0,85000.0]|        0|[3.03058490233415...|[0.95393688116130...|       0.0|
|      [29.0,28000.0]|        0|[4.84546027969442...|[0.99219736293067...|       0.0|
+--------------------+---------+--------------------+--------------------+----------+
only showing top 20 rows

In [68]:
results.accuracy

0.801980198019802